@import "base/reset.inc.mob";
@import "base/media.query";
@import "base/config";
@import "base/class";

@at-root {
    .all-img {
        width: 100%;
        vertical-align: top;
    }
    .mtop {
        margin-top: rem(10px);
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: rem(80px);
        display: flex;
        border-top: 1px solid #ccc;
        background: #fff;
        div {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            align-items: center;
        }
    }
    .country-item {
        display: inline-block;
        vertical-align: middle;
        width: rem(30px);
        height: rem(30px);
    }
    .live-process {
        width: 100%;
        height: rem(8px);
        border: 1px solid #9b9b9b;
        border-radius: rem(20px);
        overflow: hidden;
    }

}